html, body {
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

h1 {
	font-family: 'Monda';
}

.links {
	font-size: 1.2rem;
	font-family: 'Roboto';
}

.links a {
	text-decoration: none;
}

@media screen and (min-width: 576px) {
	
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 992px) {
	
}

@media screen and (min-width: 1200px) {
	
}

/* For phones turned sideways */
@media screen and (max-height: 480px) {
	
}

@media screen and (min-height: 768px) {
	
}

@media screen and (min-height: 1024px) {
	
}